<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>951513811666-8g00155ebcvblvv8ib3c1b8gn6sep91s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951513811666-8g00155ebcvblvv8ib3c1b8gn6sep91s</string>
	<key>API_KEY</key>
	<string>AIzaSyC27vEACgatIcq9F1S8yzAIenoilqBpBsk</string>
	<key>GCM_SENDER_ID</key>
	<string>951513811666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mkpeers.jpkwealth</string>
	<key>PROJECT_ID</key>
	<string>jpkwealth-mkpeers</string>
	<key>STORAGE_BUCKET</key>
	<string>jpkwealth-mkpeers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951513811666:ios:abb9f7d1166f518c</string>
	<key>DATABASE_URL</key>
	<string>https://jpkwealth-mkpeers.firebaseio.com</string>
</dict>
</plist>